---
layout: default
---

<div id="main" role="main">
  <article class="page page--hero-full" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="page__inner-wrap wrapper">
      {% unless page.hide_title %}
        <header>
          <h1 id="page-title" class="page__title" itemprop="headline">
            {{ page.title }}
          </h1>
        </header>
      {% endunless %}

      <section class="page__content cf" itemprop="text">
        {{ content }}
      </section>
    </div>
  </article>
</div>
